@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	.header {
		&__phone {
			font-size: 17px;
		}
	}
	.promo {
		&__wrapper{
			margin-top: 40px;
		}
		&__header {
			font-size: 31px;
		}
		&__subheader {
			font-size: 20px;
		}
	}
	.advantages {
		&__icons {
			margin-top: 20px;
			justify-content: center;
		}
		&__icon {
			margin-top: 20px;
		}	
	}	
	}
}
@media (max-width: 576px) {
 	.container {
		max-width: 310px;
		.header {
			flex-wrap: wrap;
			justify-content: center;
			&__logo {
				margin-bottom: 20px;
			}
			&__official {
				margin-bottom: 20px;
			}
			&__phone {
				margin-bottom: 5px;
			} 
		}
		.promo {
			&__wrapper {
				padding: 0 10px;
			}
			&__header {
				text-align: right;
			}
			&__subheader {
				text-align: right;
				font-size: 18px;
			}
			&__icons {
				margin-top: 40px;
			}
		}
		.button_main {
			margin-top: 40px;
			font-size: 12px;
			width: 290px;
		}
		.title {
			font-size: 23px;
		} 
	}
}