
.reviews {
    .titrev {
        font-size: 30px;
        color: #0D0D0D;
        text-align: center;
        margin-bottom: 4px;
    }
    .wrap {
        margin-bottom: 59px;
    }
    &__wrapper {
        display: flex;
        padding: 60px 0 3px 0;
    }
    &__img {
        margin-bottom: 31px;
        min-height: 226px;
        margin-right: 40px;
    }
    &__text {
        //margin-bottom: 63px;
        //display: block;
        max-width: 100%;
        //float: right;
        h3 {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
        }
        .subtitle {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        .descr {
            margin-top: 18px;
            font-weight: 300;
            font-size: 16px;
            color: #0D0D0D;
        }
    }

}